.center {
  display: flex;
  justify-content: center;
}

.navbar-bg {
  background: url("../images/space-nav.jpg");
  background-size: 80%;
}

.dropdown-menu,
.dropdown-menu.show {
  right: 0;
}

.space-brand {
  color: #fff;
  font-weight: bold;
}

.nav-profile-img {
  width: 50px;
  border: 1px solid #fff;
}

/* LOGIN REGISTRATION */

.form-container {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.inactive {
  border-color: lightgray lightgray lightgray;
  background: darkgray;
  color: #fff;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #efefee;
}

/* ADVERTISEMENT */

.ad-space {
  background: #fff;
  border-radius: 5px;
  border-top: 5px solid green;
}

.advertisement-img {
  width: 150px;
  height: auto;
  border: 2px solid #efefee;
  border-radius: 5px;
}

.advertisement-text {
  font-weight: bold;
}

.quote-space {
  background: #fff;
  margin-top: 30px;
  border-radius: 5px;
  border-top: 5px solid hotpink;
}

#user_register_form,
.login-form {
  width: 400px;
  margin: 0 auto;
}

form[name="user_register_form"] button,
.login-form button {
  display: block;
  margin: 20px auto;
}

.slider-item {
  margin: 25px;
  /* max-height: 422px; */
}

.slider {
  /* border-bottom: solid 1px #dbdee5; */
  background: #f7f7f7;
  border-radius: 22px;
  padding: 30px 0;
  margin-bottom: 50px;
}

.pr-list-title {
  height: 50px;
  max-height: 50px;
  overflow: auto;
}

.pr-list-header {
  width: 100%;
  margin: 22px auto;
}

.pr-list{
  margin-top: 50px;
}

.slick-arrow{
  width: 40px;
  filter: invert(100%);
}



.paddingTB60 {padding:60px 0px 60px 0px;}
.gray-bg {background: #F1F1F1 !important;}
.about-title {}
.about-title h1 {color: #535353; font-size:45px;font-weight:600;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}

/* Social Icons */
.about-icons {margin:48px 0px 48px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-tw:hover {color: #4099FF;transition:all .001s;}
 #social-gp:hover {color: #d34836;transition:all .001s;}
 #social-em:hover {color: #f39c12;transition:all .001s;}